*{
	box-sizing: border-box;
}
body {
	background-color: $bck-color;
	color: $text-color;
	font-family: 'Montserrat', sans-serif;
}
.form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.input{
		display: block;	
		background-color: $white;
		position: relative;
		width: 50%;
		label{
			color: $white;
			position: absolute;
			top: -3vw;
			left: 0;
			font-weight: 500;
			font-size: 2vw;
		}
		input{
			padding: 3vw;
			width: 100%;
			background: transparent;
			color: $bck-color;
			font-size: 2vw;
			border: none;
			font-weight: 400;
		}
	}
	#get-text{
		background-color: $input-color;
		margin-top: 2vw;
		padding: 3vw;
		width: 50%;
		text-decoration: none;
		font-weight: bold;
		color: #696969;
		text-align: center;
		font-size: 3vw;
	}
}
.reveal-text,
.reveal-text:after,
.number-words .undo{
	animation-delay: $animation-delay;
	animation-iteration-count: $iterations;
	animation-duration: $duration;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.number-words{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $bck-color;
	display: none;
	&.show{
		display: block;
	}
	.undo{
		position: absolute; 
		top: 1vw;
		right: 1vw;
		color: $white;
		font-size: 4vw;
		z-index: 100;
		transform: scaleX(0);
		animation-name: revealer-undo;
		animation-delay: $animation-delay-undo;
	}
}

.reveal-text {
	margin: 0;
	padding: 0 3vw;
	position: relative;
	font-size: 8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	animation-name: reveal-text;
	color: $white;
	cursor: default;	
	height: 100vh;
	text-transform: uppercase;
	&:after {
		content: "";
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $input-color;
		transform: scaleX(0) scaleY(100%);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: revealer-text;
	}	
}