@media (max-width: $screen-xs-max) {
	.form-container{
		.input{
			width: 80%;
			label{
				top: -12vw;
			}
			label, input{
				font-size: 8vw;
			}
		}
		#get-text{
			width: 80%;
			font-size: 8vw;
		}
	}

	.number-words{
		.undo{
			top: 2vw;
			right: 1vw;			
			font-size: 7vw;
		}
	}

	.reveal-text {
		font-size: 12vw;
		padding: 0 8vw;
	}
}